@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
  box-sizing: border-box;
}

body{
  background-color:#fff;
  font-family:"Roboto", san-serif;
  margin: 0;
}

header {
  background-image: url('/automotiveDesign/car-bg.jpg');
  background-size: cover;
  background-position: center center;
  color:white;
  display:flex;
  min-height: 100vh;


}