@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
  box-sizing: border-box;
}

body{
  background-color:#fff;
  font-family:"Roboto", san-serif;
  margin: 0;
}

header {
  background-image: url('/automotiveDesign/car-bg.jpg');
  background-size: cover;
  background-position: center center;
  color:white;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

header .container{
  margin: auto 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;

}

nav {
  display:flex;
  justify-content: space-between;
}

nav .logo{
  font-size: 2rem;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li a{
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.selected {
  font-weight: bold;
}

.highlight {
  background-color: #00c2ff;
}

